@font-face {
    font-family: "Vazir";
    src: url("../assets/fonts/Vazir.eot") format("eot"),
        url("../assets/fonts/Vazir.ttf") format("truetype"),
        url("../assets/fonts/Vazir.woff") format("woff"),
        url("../assets/fonts/Vazir.woff2") format("woff2");
}

body {
    font-family: "Vazir";
}

.icon {
    display: inline-flex;
    background-color: #ebeafb;
    color: rgb(13, 110, 253);
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 1rem;
}

.text-muted {
    color: #6c757d !important;
}

.bg-selected {
    background-color: #1b2a4e;
    color: #fff;
}

.svg-container-top,
.svg-container-bottom {
    height: 10rem;
    overflow: hidden;
}

.svg-container-top {
    transform: translateY(0.2rem);
}

.svg-container-bottom {
    transform: translateY(-0.2rem);
}

.carousel-inner img {
    height: 50vw;
    object-fit: cover;
}

.contactus textarea {
    max-height: 15rem;
    min-height: 5rem;
}